/*!
 * Cenit Enterprise (http://xenitl.96.lt)
 * Copyright 2016 Cenit Enterprise
 */
#header-logo{
    width:1.3em;vertical-align:middle
}
.parallax-container{
    height:50vh
}
#portfolio .parallax-container{
    height:70vh
}
#footer{
    margin-top:0;!important
}
.section__item a,.social a{
    color:white
}
.section__item a:hover,.social__item:hover{
    color:#0af
}

[class^="cenit-"]:before,[class*="cenit-"]:before{
    font-size:1.3em;
    margin-right:.2em;
    vertical-align:middle
}
